body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-image: url("gryf.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}