body {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-image: url("hogwarts.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
h1 {
    padding: 20px;
    color: black;
    font-size: 4rem;
    letter-spacing: 3px;
    text-shadow: 0 0 15px rgb(146, 146, 146);
    font-family: "masonic-lodge", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.house-btn {
    border: none;
    background: transparent;
    transition: transform 0.3s ease,
                filter 0.3s ease;
}
.house-btn img {
    width: 400px;
    height: auto;
}

.gryffindor:hover img {
    filter: drop-shadow(0 0 18px crimson);
}

.hufflepuff:hover img {
    filter: drop-shadow(0 0 18px gold);
}

.ravenclaw:hover img {
    filter: drop-shadow(0 0 18px dodgerblue);
}

.slytherin:hover img {
    filter: drop-shadow(0 0 18px limegreen);
}

@media (max-width: 768px) {
    .house-btn img {
        width: 130px;
    }

    .title {
        font-size: 2rem;
    }
}